# Indexing

In [1]:
import pandas as pd

In [28]:
people={
    "first":['jon','cersei','arya'],
    "last":["snow","lannister",'stark'],
    "place":['winterfell','kings landing','bravos']
}

In [30]:
df=pd.DataFrame(people)

In [31]:
df.columns

Index(['first', 'last', 'place'], dtype='object')

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [32]:
df.set_index('last')

            first          place
last
snow          jon     winterfell
lannister  cersei  kings landing
stark        arya         bravos

In [21]:
df

                   place   first
last
snow          winterfell     jon
lannister  kings landing  cersei
stark             bravos    arya

In [22]:
df.index

Index(['snow', 'lannister', 'stark'], dtype='object', name='last')

In [52]:
df.set_index('last',inplace=True)

In [55]:
df.reset_index(inplace=True)

In [56]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [34]:
df.sort_index()

    first       last          place
0     jon       snow     winterfell
1  cersei  lannister  kings landing
2    arya      stark         bravos